@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap'); */

*
{
    margin: 0;
    padding: 0;
    color: #daa520;
    font-family: Cousine;
}

body
{
    display: flex;
    flex-direction: column;
    background-image: url(background.jpg);
}

header
{
    height: 10vh;
}

#content
{
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-blend-mode: darken;
    min-height: 83vh;
    border-top: 2px solid darkgoldenrod;
    border-bottom: 2px solid darkgoldenrod;
}

header
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navButtons
{
    display: flex;
    gap: 18px;
}

.navButtons > button
{
    border: none;
    background-color: transparent;
    font-size: 28px;
}

/* Underline animation */

.hover-underline-animation {
    display: inline-block;
    position: relative;
  }
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: darkgoldenrod;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* Footer */

.footer
{
    display: flex;
    font-size: large;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    height: 2vh;
    padding-top: 8px;
}

.footer > a 
{
    padding: 2px 4px;
    border: 1px goldenrod solid;
    border-radius: 10px;
    background-color: black;
    text-decoration: none;
    margin-left: 8px;
}

.footer > a:hover
{
    background-color: darkslategray;
}